---
manager:
  max_workers: 2

providers:
  config-files:
    class: octodns.provider.yaml.SplitYamlProvider
    directory: .
    default_ttl: 120
<<<<<<< HEAD
    # Suffix for each domain's dir (default: '.')
    extension: .domain
    # Allow record keys to be out of alphabetical order.
=======
    # So YAML key order need not be alphabetical
>>>>>>> Imported and converted civictech.ca DNS records from EasyDNS.
    enforce_order: false
    # Error when dups found
    populate_should_replace: false
  cloudflare:
    class: octodns.provider.cloudflare.CloudflareProvider
    token: env/CLOUDFLARE_API_TOKEN
    # Importing a domain will often delete/update many, so better to have good experience.
    # TODO: Revisit if any apps become high-stakes.
    update_pcent_threshold: 0.95
    delete_pcent_threshold: 0.95

zones:
  g0v.network.:
    sources:
      - config-files
    targets:
      - cloudflare
  g0v.ca.:
    sources:
      - config-files
    targets:
      - cloudflare
  t0ronto.ca.:
    sources:
      - config-files
    targets:
      - cloudflare
  c4nada.ca.:
    sources:
      - config-files
    targets:
      - cloudflare
  g0teborg.se.:
    sources:
      - config-files
    targets:
      - cloudflare
  civictech.ca.:
    lenient: true
    sources:
      - config-files
    targets:
      - cloudflare
