[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Using an unreleased feature to customize extension used for domain directory.
# Will need this untile octdns > 0.9.11 is released.
# See: https://github.com/g0v-network/domains/issues/20#issue-825088710
octodns = "*"
octodns-cloudflare = ">=1.0.0"

[dev-packages]

[requires]
python_version = "3.9"
